<div class="container-nav">
    <section class="nav-bar">
        <a routerLink="/"> Mr.BitCoin </a>
        <div>
            <a routerLink="/contact"> <img class="statistic-logo"
                    src="https://res.cloudinary.com/artyompogosov/image/upload/v1576857239/vruhrpzwbyn3wceprvqq.png"
                    alt="contacts" />
            </a>
            <a routerLink="/statistic">
                <img class=" statistic-logo"
                    src="https://res.cloudinary.com/artyompogosov/image/upload/v1576857047/kjij1gmlwp7bva6foimc.png"
                    alt="Chart" />
            </a>
        </div>
    </section>
</div>